body {
    background-color:#1E566C;
  }

  .navbar-brand {
    height: 4.5em;
}

#MainIntro {
    margin: 5em;
    padding-left: 0.625em;
    padding-top: 10em;
    color: white;
    display: inline-flex;
    font-family: 'Playfair', serif;
}

.middle {
  padding-left: 1.875em;
}

#education {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0px;
}

.post {
  width: 50em;
  margin-left: auto ;
  margin-right: auto ;
  padding-top: 3em;
  }

.name {
  font-family: 'Frank Ruhl Libre', serif;

}

#footer {
  padding-bottom: 1.25em;
  padding-top: 6.25em;
}

.resize {
  width: 25em;
  margin-left: auto ;
  margin-right: auto ;
  padding-top: 3em;
}

@media only screen and (min-width: 1090px) {

#MainIntro {
  margin: auto;
  padding-top: 10em;
  padding-left: 0;
  color: white;
  display: block;
  font-family: 'Playfair', serif;
  font-size: 1.5em;
}

.middle {
  margin-left: 20%;
  margin-right: 20%;
}

.name {
  padding-left: 5em;
}

}