body {
    background-color:#1E566C;
  }

  .navbar-brand {
    height: 4.5em;
}

#education {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0px;
}

.post {
  width: 60%;
  margin-left: 22%;
  margin-right: 22%;
  padding-top: 3em;
  margin-top: 2em;
  }

#footer {
  padding-bottom: 1.25em;
  padding-top: 6.25em;
}

.resize {
  width: 25em;
  margin-left: auto ;
  margin-right: auto ;
}


#mainIntro {
  color: white;
  padding-top: 1em;
  margin: 1em;
}

.intro {
  margin:0;
}

.name {
  margin: 0;
  margin-bottom: 0;
}

#profilePic {
  margin: .025em;
}

@media only screen and (min-width: 1360px)  {

#profilePic {
  margin-left: 20%;
  margin-right: 20%;
}  

#mainIntro {
  margin-left: 5%;
  margin-right: 5%;
}

}

